[Local]
hostname = OSU12

[Local:Serial0]
address = 192.101.18.7
netmask = 255.255.255.0
bandwidth = 100000
port = 1210
link = OSU9

[Local:Serial1]
address = 122.101.78.6
netmask = 255.255.255.0
bandwidth = 150000
port = 1220
link = OSU14

# socket通信消息连接端口
[WebSocket_port]
#[Local:Serial2]
address = 112.80.1.7
netmask = 255.255.255.0
bandwidth = 100000
port = 1221
link = NetManager1

[OSU9]
host = localhost
port = 9002

[OSU14]
host = localhost
port = 1420

# socket通信消息连接端口
[NetManager1]
host = localhost
port = 10000